.version-reconcile-dialog {
    min-height: 50px;
}

.diff-create {
    background-color: rgb(163, 241, 163);
}
.diff-edit {
    background-color: rgb(247, 212, 149);
}
.diff-delete {
    background-color: rgb(252, 159, 159);
}

.diff-dark-create {
    background-color: rgb(77, 230, 77);
}
.diff-dark-edit {
    background-color: rgb(255, 191, 72);
}
.diff-dark-delete {
    background-color: rgb(255, 104, 104);
}

.plus-minus-header:before {
    display: inline-block;
    content: "-";
    width: 12px;
}
.plus-minus-header.collapsed:before {
    display: inline-block;
    content: "+";
    width: 12px;
}

.plus-minus-body {
    padding-left: 20px;
}
