<div class="card" [formGroup]="formGroup">

    <!-- header -->
    <div class="card-header mb-0 collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#' + componentId"
        aria-expanded="false">{{ getHeaderText() }}
    </div>

    <!-- body -->
    <div [id]="componentId" class="collapse" [class.readonly]="readonly">
        <div class="card-body">

            <div class="row">
                <div class="col-3 attribute-label">{{ 'row.fida_schweremessunghfp.datum' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="DATUM" [isRequired]="true">
                    </app-attribute-value-edit>
                </div>               
            </div>

            <div class="row mt-m1">
                <div class="col-3 attribute-label">{{ 'row.fida_schweremessunghfp.schwerewert' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="SCHWEREWERT" [isRequired]="true">
                    </app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">{{ 'row.fida_schweremessunghfp.schwereherkunft' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="SCHWEREHERKUNFT" [isRequired]="true">
                    </app-attribute-value-edit>
                </div>                
            </div>
            
            <!-- delete button -->
            <div class="row mt-2" [hidden]="readonly">
                <div class="col-12">
                    <button type="button" class="btn btn-danger float-right" (click)="deleteClick()">{{ 'app.global.delete' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>