html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Frutiger Neue", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

:root {
  --header-height: 95px;
  --fida-widget-footer-height: 50px;
  --fida-widget-header-height: 40px;
}

:focus {
  outline: none;
}

.mt-m1 {
  margin-top: -1px;
}

.mb-m1 {
  margin-bottom: -1px;
}

.ml-m1 {
  margin-left: -1px;
}

.mr-m1 {
  margin-right: -1px;
}

.no-y-container-margin {
  margin-left: -15px;
  margin-right: -15px;
}

// ----------------------------------------------------------------------------------------------------
// form styles
// ----------------------------------------------------------------------------------------------------
.form-control {
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 24px;
  font-size: 14px;
}

.form-group {
  margin: 0;
}

textarea.form-control {
  height: auto;
  padding: 3px;
}

.attribute-label {
  display: flex;
  align-items: center;
}

// ----------------------------------------------------------------------------------------------------
// validation styles
// ----------------------------------------------------------------------------------------------------
input.ng-invalid, select.ng-invalid {
  border-color: var(--danger);
  background-color: var(--light);
  // outline: 2px solid var(--danger);
}

input.ng-invalid:focus {
  border-color: var(--danger);
  box-shadow: none;
}

.error-text-container {
  position: relative;
}

.error-text {
  visibility: hidden;
  background-color: var(--danger);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  right: 0;
  margin-bottom: 5px;
}

/* Show the error text when you mouse over the error-text-container */
.error-text-container:hover .error-text {
  visibility: visible;
}

// ----------------------------------------------------------------------------------------------------
// grid styles
// ----------------------------------------------------------------------------------------------------
.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col,
[class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

// hack
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: inherit;
  }
}

// ----------------------------------------------------------------------------------------------------
// card styles
// ----------------------------------------------------------------------------------------------------
.card {
  border: 1px solid var(--light);
  border-radius: 0;
}

// .card-header, .card-header:first-child {
//   padding: 0;
//   margin-bottom: 0;
//   background-color: var(--super-light);
//   border-bottom: 1px solid var(--dark);  

//   button {
//     width: 100%;
//     text-align: left;
//     color: inherit;
//   }
// }

// ----------------------------------------------------------------------------------------------------
// button styles
// ----------------------------------------------------------------------------------------------------
.btn {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  border-radius: 0;
}

// ----------------------------------------------------------------------------------------------------
// modal styles
// ----------------------------------------------------------------------------------------------------
.modal-content {
  border-radius: 0;
}

// ----------------------------------------------------------------------------------------------------
// navigation styles
// ----------------------------------------------------------------------------------------------------
.nav {
  border-bottom: 1px solid var(--light);
}

a[role="tab"] {
  color: inherit;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: black;
  background-color: var(--light);
  border-radius: 0;
}

// ----------------------------------------------------------------------------------------------------
// simple-notification styles
// ----------------------------------------------------------------------------------------------------
.simple-notification {
  min-height: 0px !important;
}

.simple-notification .icon svg {
  width: 24px !important;
  height: 24px !important;
}

.sn-title {
  font-size: 14px !important;
}

.sn-content {
  font-size: 12px !important;
}

// ----------------------------------------------------------------------------------------------------
// fida-widget styles
// ----------------------------------------------------------------------------------------------------
.fida-widget {
  background-color: white;
  border: 1px solid var(--normal);
}

.fida-widget-header {
  height: var(--fida-widget-header-height);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 8px 0;
  border-bottom: solid 1px var(--light);

  & label {
    margin-top: 3px;
    margin-bottom: 0;
  }
}

.fida-widget-body {
  margin: 0 0 var(--fida-widget-footer-height) 0;
  max-height: calc(
    100vh - var(--fida-widget-footer-height) - var(--header-height) - var(--fida-widget-header-height) - 40px
  );
  overflow: auto;
}
.fida-widget-footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  padding: 12px 12px 12px 12px;
  border-top: solid 1px var(--light);
}

// ----------------------------------------------------------------------------------------------------
// esri-widget styles
// ----------------------------------------------------------------------------------------------------
.esri-widget {
  font-family: "Frutiger Neue", "Helvetica Neue", sans-serif;
  color: var(--super-dark);
}

.esri-widget--button:not(.esri-search__submit-button) {
  border: 1px solid var(--super-dark);

  &[aria-expanded="true"] {
    border: 2px solid var(--super-dark);
  }
}

.esri-expand__panel {
  //border: 1px solid var(--super-dark);
}

.esri-view {
  .esri-view-surface--inset-outline:focus::after,
  .esri-component:focus,
  .esri-widget:focus,
  .esri-attribution__sources:focus {
    outline: none !important;
  }
}

.esri-view-width-xlarge .esri-popup__main-container,
.esri-view-width-large .esri-popup__main-container,
.esri-view-width-medium .esri-popup__main-container {
  max-height: 100% !important;
  //min-width: 50% !important;
  width: 680px;    
}

.esri-popup__header {
  display: none;
}

.esri-popup__content {
  margin: 0 0 var(--fida-widget-footer-height) 0;
}

.esri-feature__last-edited-info {
  display: none;
}

.esri-feature__content-element {
  padding-left: 0;
  padding-right: 0;
}

// ----------------------------------------------------------------------------------------------------
// spinner styles
// ----------------------------------------------------------------------------------------------------
.spinner {
  position: relative;
  min-height: 26px;
}

.spinner::before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  min-height: 32px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7) url("../assets/images/spinner-arrow.gif") center center no-repeat;
  background-size: 32px 32px;
}

// ----------------------------------------------------------------------------------------------------
// readonly styles TEMPORARY
// ----------------------------------------------------------------------------------------------------
.readonly {
  position: relative;
}

.readonly::before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;    
}
