:root {
	--border-color: #6e6e6e4d;
	--dark-border-color: #7c7c7c;

	--accent-color: #dc0018;
	--dark-contrast: #0f0f0f;
	--light-contrast: #7c7c7c;
	
	--primary: #0079c1;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
}
