:root {	
	--accent-color: #dc0018;
	
	--primary: #0079c1;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--super-light: #f8f9fa;
	--light: #6e6e6e4d;
	--normal: #7c7c7c;
	--dark: #343a40;
	--super-dark: #0f0f0f;
}
