@font-face {
	font-family: 'Frutiger Neue';
	src: url(../assets/fonts/FrutigerNeueW02-Bd.woff?v2) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Frutiger Neue';
	src: url(../assets/fonts/FrutigerNeueW02-It.woff?v2) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Frutiger Neue';
	src: url(../assets/fonts/FrutigerNeueW02-Regular.woff?v2) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Frutiger Neue';
	src: url(../assets/fonts/FrutigerNeueW02-Light.woff?v2) format("woff");
	font-weight: 100;
	font-style: normal;
}