<div class="header d-none d-md-block">
  <img class="ch-logo float-left" src="assets/images/logo-CH.svg" />
  <div class="separator float-left"></div>
  <div class="float-left">
    <h1>{{ 'app.header.bundesamt' | translate }}<br />{{ 'app.header.title' | translate }}</h1>
  </div>

  <div>
    <a *ngFor="let language of getLanguages()" class="float-right" [class.active]="isCurrentLanguage(language)" href="#"
      (click)="setCurrentLanguage(language)">{{ getLanguageName(language) }}</a>
  </div>

  <div class="deployed font-italic font-weight-light">{{ getAppVersion() }}</div>

  <div class="user-info">
    {{ 'app.header.gdb_version' | translate }}: {{ getGdbVersionName() }} | {{ 'app.header.user' | translate }}: {{ getUserName() }}
  </div>
</div>