<div class="modal-body px-0 pt-0">

    <!-- header -->
    <div class="fida-widget-header">
        <label>{{ 'app.version_create.title' | translate }}</label>
        <button class="btn esri-icon-close float-right" (click)="cancelClick()"></button>
    </div>

    <!-- body -->
    <div class="fida-widget-body container pt-3 pb-1">
        <form [formGroup]="form" novalidate>
            
            <!-- name -->
            <div class="row form-group error-text-container">
                <div class="col-6 attribute-label">
                    {{ 'app.version.name' | translate }}
                </div>
                <div class="col-6 form-group">
                    <input type="text" class="form-control" formControlName="versionName"
                        [(ngModel)]="gdbVersion.versionName">
                </div>
            </div>

            <!-- description -->
            <div class="row mt-2">
                <div class="col-6 attribute-label">
                    {{ 'app.version.description' | translate }}
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="description"
                        [(ngModel)]="gdbVersion.description">
                </div>
            </div>
        </form>
    </div>

    <!-- footer -->
    <div class="fida-widget-footer">
        <button type="button" class="btn btn-primary float-right ml-2" (click)="createClick()" [disabled]="form.invalid">{{ 'app.global.create' | translate }}</button>
        <button type="button" class="btn btn-default float-right" (click)="cancelClick()">{{ 'app.global.cancel' | translate }}</button>
    </div>
</div>