<div class="modal-body px-0 pt-0">

    <!-- header -->
    <div class="fida-widget-header">
        <label>Create Version</label>
        <button class="btn esri-icon-close float-right" (click)="cancelClick()"></button>
    </div>

    <!-- body -->
    <div class="fida-widget-body container pt-3 pb-1">
        <form [formGroup]="form" novalidate>
            
            <!-- name -->
            <div class="row form-group error-text-container">
                <div class="col-6 attribute-label">
                    Name
                </div>
                <div class="col-6 form-group">
                    <input type="text" class="form-control" formControlName="versionName"
                        [(ngModel)]="gdbVersion.versionName">
                </div>
                <!-- validation -->
                <!-- <div class="error-text" *ngIf="form.controls.versionName.errors?.required" style="width: 130px;">
                    Value is required.
                </div> -->
            </div>

            <!-- description -->
            <div class="row mt-2">
                <div class="col-6 attribute-label">
                    Description
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="description"
                        [(ngModel)]="gdbVersion.description">
                </div>
            </div>
        </form>
    </div>

    <!-- footer -->
    <div class="fida-widget-footer">
        <button type="button" class="btn btn-primary float-right ml-2" (click)="createClick()" [disabled]="form.invalid">Create</button>
        <button type="button" class="btn btn-default float-right" (click)="cancelClick()">Cancel</button>
    </div>
</div>