<div class="card" [formGroup]="formGroup">

    <!-- header -->
    <div class="card-header mb-0 collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#' + componentId"
        aria-expanded="false">{{ getHeaderText() }}
    </div>

    <!-- body -->
    <div [id]="componentId" class="collapse" [class.readonly]="readonly">
        <div class="card-body">

            <!-- attachment -->
            <div *ngFor="let attachmentInfo of getAttachmentInfos()" class="row mb-3">
                <div class="col-12">
                    <a target="_blank" [href]="attachmentInfo.url">
                        <img [src]="attachmentInfo.url" class="w-100">
                    </a>
                </div>
            </div>
            <div class="row" *ngIf="getAttachmentInfos().length === 0">
                <div class="col-12">
                    <input type="file" (change)="handleFileInput($event.target.files)">
                </div>
            </div>

            <!-- attributes -->
            <div class="row">
                <div class="col-3 attribute-label">{{ 'row.fida_anhanglfp.bild_art' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="BILD_ART" [required]="true">
                    </app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">{{ 'row.fida_anhanglfp.bild_status' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="BILD_STATUS" [required]="true">
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row mt-m1">
                <div class="col-3 attribute-label">{{ 'row.fida_anhanglfp.bild_druckbreite' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="BILD_DRUCKBREITE">
                    </app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">{{ 'row.fida_anhanglfp.bild_druckhoehe' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="BILD_DRUCKHOEHE">
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row  mt-m1">
                <div class="col-3 attribute-label">{{ 'row.fida_anhanglfp.bild_datum' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="BILD_DATUM">
                    </app-attribute-value-edit>
                </div>
            </div>

            <!-- delete button -->
            <div class="row mt-2" [hidden]="readonly">
                <div class="col-12">
                    <button type="button" class="btn btn-danger float-right" (click)="deleteClick()">{{ 'app.global.delete' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>