<div class="modal-body px-0 pt-0">

    <!-- header -->
    <div class="fida-widget-header">
        <label>Kontakt-Editor</label>
        <button class="btn esri-icon-close float-right" (click)="cancelClick()"></button>
    </div>

    <!-- body -->
    <div class="fida-widget-body container pt-3 pb-1">
        <form [formGroup]="form" novalidate>
            
            <div class="row">
                <div class="col-3 attribute-label">ART</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="ART" [required]="true">
                    </app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">FIRMA</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="FIRMA">
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row">
                <div class="col-3 attribute-label">VORNAME</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="VORNAME" [required]="true">
                    </app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">NAME</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="NAME" [required]="true">
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row">
                <div class="col-3 attribute-label">ADRESSE</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="ADRESSE">
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row">
                <div class="col-3 attribute-label">PLZ</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="PLZ"></app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">ORT</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="ORT"></app-attribute-value-edit>
                </div>
            </div>

            <div class="row">
                <div class="col-3 attribute-label">TELEFON</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="TELEFON">
                    </app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">EMAIL</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="EMAIL">
                    </app-attribute-value-edit>
                </div>
            </div>

        </form>
    </div>

    <!-- footer -->
    <div class="fida-widget-footer">
        <button type="button" class="btn btn-primary float-right ml-2" (click)="saveClick()">Änderung übernehmen</button>
        <button type="button" class="btn btn-default float-right" (click)="cancelClick()">Cancel</button>
    </div>
</div>
