<div #geometryEdit [class.spinner]="showSpinner">
    <div *ngIf="activated" class="geometry-edit fida-widget">

        <!-- header -->
        <div class="fida-widget-header">
            <label>Edit Geometry</label>
            <button class="btn esri-icon-close float-right" (click)="cancelClick()"></button>
        </div>

        <!-- body -->
        <div class="">
            <div *ngIf="activated" class="d-flex flex-row">
                <button type="button" class="btn btn-default flex-fill" (click)="cancelClick()">Cancel</button>
                <button type="button" class="btn btn-primary flex-fill" (click)="saveClick()">Save</button>
            </div>
        </div>

    </div>
</div>