<div #featureCreate [hidden]="wating" class="feature-create fida-widget">

    <!-- header -->
    <div class="fida-widget-header">
        <label>Create Feature</label>
        <button class="btn esri-icon-close float-right" (click)="closeClick()"></button>
    </div>

    <!-- body -->
    <div class="">

        <!--- when inactive -->
        <div *ngIf="!activated" class="d-flex felx-row">
            <select class="form-control flex-fill" [(ngModel)]="selectedLayer" [disabled]="activated">
                <option *ngFor="let layer of editableLayers" [ngValue]="layer" [selected]="layer === selectedLayer">
                    {{layer.id}}
                </option>
            </select>

            <button class="btn btn-primary" (click)="startClick()">Start</button>
        </div>

        <!-- when active -->
        <div *ngIf="activated" class="d-flex felx-row">
            <button type="button" class="btn btn-default flex-fill" (click)="cancelClick()">Cancel</button>
            <button type="button" class="btn btn-primary flex-fill" (click)="createClick()">Create</button>
        </div>

        <!-- <app-feature-container></app-feature-container> -->
    </div>
</div>