<div class="feature-container py-2" [hidden]="!feature">

    <!-- buttons -->
    <div class="d-flex felx-row" *ngIf="isViewMode()">
        <button type="button" class="btn btn-primary" (click)="editClick()">
            <span class="esri-icon-edit"></span>edit</button>
        <button type="button" class="btn btn-primary ml-2" (click)="editGeometryClick()">edit geometry</button>
        <button type="button" class="btn btn-danger ml-2" (click)="deleteClick()">delete</button>
    </div>

    <!-- view -->
    <div class="row" *ngIf="isViewMode()">
        <div class="col mt-2">
            <!--<div #viewContainer></div>-->
            <app-feature-view [feature]="feature"></app-feature-view>
        </div>
    </div>

    <!-- edit -->
    <div class="row" *ngIf="!isViewMode()">
        <div class="col">
            <!--<div #editContainer></div>-->
            <app-feature-edit [feature]="feature" (save)="onSave($event)" (cancel)="onCancel()"></app-feature-edit>
        </div>
    </div>

</div>