<div class="feature-container py-2" [hidden]="!feature" [class.spinner]="showSpinner">

    <!-- header -->
    <div class="feature-container-header">

    </div>

    <!-- body -->
    <div class="feature-container-body">

        <!-- view -->
        <app-feature-view *ngIf="isViewMode()" [feature]="feature">
        </app-feature-view>

        <!-- edit -->
        <app-feature-edit *ngIf="!isViewMode()" [feature]="feature" (save)="onSave($event)" (cancel)="onCancel()">
        </app-feature-edit>

    </div>

    <!-- footer -->
    <div class="fida-widget-footer d-flex felx-row-reverse">

        <!-- view buttons -->
        <div *ngIf="isViewMode()">
            <button type="button" class="btn btn-primary" (click)="editClick()">
                <span class="esri-icon-edit"></span>edit</button>
            <button type="button" class="btn btn-primary ml-2" (click)="editGeometryClick()">edit geometry</button>
            <button type="button" class="btn btn-danger ml-2" (click)="showDeleteDialogClick(template)">delete</button>
        </div>

        <!-- edit buttons -->
        <div *ngIf="!isViewMode()">
            <button type="button" class="btn btn-success" (click)="saveClick()">Save</button>
            <button type="button" class="btn btn-default ml-2" (click)="saveCancelClick()">Cancel</button>
        </div>
    </div>
</div>

<!-- delete dialog -->
<ng-template #template>
    <div class="modal-body text-center">
        <p>Do you realy want to delete Feature {{ feature?.attributes.OBJECTID }}?</p>
        <button type="button" class="btn btn-secondary" (click)="deleteCancelClick()">cancel</button>
        <button type="button" class="btn btn-danger ml-2" (click)="deleteClick()">delete</button>
    </div>
</ng-template>