<fieldset ngModelGroup="{{ feature?.attributes.OBJECTID }}_{{ name }}">
    <div class="form-group" [ngSwitch]="getFieldType()">

        <!--domain value-->
        <div *ngSwitchCase="'domain'">
            <select class="form-control" [(ngModel)]="feature?.attributes[name]" name="{{ name }}">
                <option *ngFor="let codedValue of getCodedValues()" [ngValue]="codedValue.code"
                    [selected]="codedValue.code === feature?.attributes[name]">
                    {{ codedValue.name }}
                </option>
            </select>
        </div>

        <!--date value-->
        <div *ngSwitchCase="'date'">
            <div class="form-group">
                <input type="text" class="form-control" name="{{ name }}" bsDatepicker
                    [bsValue]="feature?.attributes[name]">
            </div>
        </div>

        <!--number value-->
        <div *ngSwitchCase="'number'">
            <input type="number" class="form-control" name="{{ name }}" [(ngModel)]="feature?.attributes[name]"
                #input="ngModel">
            <!--validation-->
            <div *ngIf="input.invalid" class="alert alert-danger">
                <div *ngIf="input.errors.required">{{ name }} is required.</div>
            </div>
        </div>

        <!--default value-->
        <div *ngSwitchDefault>
            <input type="text" class="form-control" name="{{ name }}" [(ngModel)]="feature?.attributes[name]"
                #input="ngModel">
            <!--validation-->
            <div *ngIf="input.invalid" class="alert alert-danger">
                <div *ngIf="input.invalid">{{ name }} is required.</div>
            </div>
        </div>
    </div>
</fieldset>