<div class="card" [formGroup]="formGroup">

    <!-- header -->
    <div class="card-header mb-0 collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#' + componentId"
        aria-expanded="false">{{ getHeaderText() }}
    </div>

    <!-- body -->
    <div [id]="componentId" class="collapse" [class.readonly]="readonly">
        <div class="card-body">

            <div class="row">
                <div class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.nachfuehrungsdatum' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="NACHFUEHRUNGSDATUM"
                        [required]="true">
                    </app-attribute-value-edit>
                </div>
                <div *ngIf="feature.attributes.NACHFUER_HERKUNFT !== undefined" class="col-3 attribute-label">{{ 'row.fida_nachfuehrunghfp.nachfuer_herkunft' | translate }}</div>
                <div *ngIf="feature.attributes.NACHFUER_HERKUNFT !== undefined" class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="NACHFUER_HERKUNFT" [required]="true">
                    </app-attribute-value-edit>
                </div>
                <div *ngIf="feature.attributes.NACHFUEHRUNGSPERIMETER !== undefined" class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.nachfuehrungsperimeter' | translate }}</div>
                <div *ngIf="feature.attributes.NACHFUEHRUNGSPERIMETER !== undefined" class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="NACHFUEHRUNGSPERIMETER"
                        [required]="true">
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row">
                <div *ngIf="feature.attributes.UNTERHALTART !== undefined" class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.unterhaltart' | translate }}</div>
                <div *ngIf="feature.attributes.UNTERHALTART !== undefined" class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="UNTERHALTART" [required]="true">
                    </app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.arbeitskuerzeltext' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="ARBEITSKUERZELTEXT" type="multiselect"
                    [list]="workAbbreviationList" [readonly]="readonly" [required]="false"> 
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row">
                <div *ngIf="feature.attributes.ERLEDARBBESCHREIBUNG !== undefined" class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.erledarbbeschreibung' | translate }}</div>
                <div *ngIf="feature.attributes.ERLEDARBBESCHREIBUNG !== undefined" class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="ERLEDARBBESCHREIBUNG"
                    [required]="false">
                    </app-attribute-value-edit>
                </div>
                <div *ngIf="feature.attributes.BESCHAEDIGUNG_PENDENZ !== undefined" class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.beschaedigung_pendenz' | translate }}</div>
                <div *ngIf="feature.attributes.BESCHAEDIGUNG_PENDENZ !== undefined" class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="BESCHAEDIGUNG_PENDENZ">
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row">
                <div class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.ersterstellung' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="ERSTERSTELLUNG" [required]="true">
                    </app-attribute-value-edit>
                </div>
                <div class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.protokollsichtbar' | translate }}</div>
                <div class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="PROTOKOLLSICHTBAR" [required]="true">
                    </app-attribute-value-edit>
                </div>
            </div>

            <div class="row">
                <div *ngIf="feature.attributes.BEMERKUNG !== undefined" class="col-3 attribute-label">{{ 'row.fida_nachfuehrunglfp.bemerkung' | translate }}</div>
                <div *ngIf="feature.attributes.BEMERKUNG !== undefined" class="col-3">
                    <app-attribute-value-edit [feature]="feature" formControlName="BEMERKUNG">
                    </app-attribute-value-edit>
                </div>
            </div>

            <!-- delete button -->
            <div class="row mt-2" [hidden]="readonly">
                <div class="col-12">
                    <button type="button" class="btn btn-danger float-right" (click)="deleteClick()">{{ 'app.global.delete' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>