<!-- general feature -->
<app-difference-attribute-tree [versionFeature]="feature" [defaultFeature]="getDefaultFeature(feature)"
    relationshipName="general" header="app.relationship.general">
</app-difference-attribute-tree>

<div *ngFor="let relatedFeatures of feature?.relatedFeatures | keyvalue"
    [hidden]="hideRelatedFeatures(relatedFeatures.value)">
    <!-- related feature list header-->
    <div class="row">
        <div class="col-12 plus-minus-header collapsed" data-toggle="collapse"
            [attr.data-target]="'#' + getId(relatedFeatures.key, feature)">
            {{ 'app.relationship.' + relatedFeatures.key | translate }} ({{ relatedFeatures.value.length }})</div>
    </div>

    <!-- related feature list body -->
    <div class="row collapse plus-minus-body" [id]=" getId(relatedFeatures.key, feature)">
        <div class="col-12">
            <div *ngFor="let relatedFeature of relatedFeatures.value">
                <app-difference-attribute-tree [versionFeature]="relatedFeature"
                    [defaultFeature]="getDefaultFeature(relatedFeature)" [relationshipName]="relatedFeatures.key">
                </app-difference-attribute-tree>
            </div>
        </div>
    </div>
</div>