<div *ngIf="activated" class="feature-edit fida-widget" [class.spinner]="showSpinner">

    <!-- header -->
    <div class="fida-widget-header">
        <label>{{ getHeaderText() }}</label>
        <button class="btn esri-icon-close float-right" (click)="cancelClick(true)"></button>
    </div>

    <!-- body -->
    <div class="fida-widget-body">
        <form [formGroup]="form" (ngSubmit)="form.valid">
            <div [ngSwitch]="feature?.layer.id">

                <!-- lfp feature -->
                <app-lfp-edit *ngSwitchCase="'LFP'" [feature]="feature" [formGroup]="form"></app-lfp-edit>

                <!-- hfp feature -->
                <app-hfp-edit *ngSwitchCase="'HFP'" [feature]="feature" [formGroup]="form"></app-hfp-edit>

                <!-- lsn feature -->
                <app-lsn-edit *ngSwitchCase="'LSN'" [feature]="feature" [formGroup]="form"></app-lsn-edit>

            </div>
        </form>
    </div>

    <!-- footer -->
    <div class="fida-widget-footer">
        <button type="button" class="btn btn-primary float-right ml-2"
            (click)="saveClick(saveDialogTemplate, largeDifferenceTemplate)" [disabled]="form.invalid">{{
            'app.global.save' | translate }}</button>
        <button type="button" class="btn btn-default float-right" (click)="cancelClick()">{{ 'app.global.cancel' |
            translate }}</button>
    </div>

</div>

<!-- save dialog -->
<ng-template #saveDialogTemplate>
    <div class="modal-body text-center">
        <p>{{ 'app.feature_edit.save_dialog_text' | translate }}</p>
        <button type="button" class="btn btn-primary" (click)="saveNoClick()">{{ 'app.global.no' | translate }}</button>
        <button type="button" class="btn btn-danger ml-2" (click)="saveYesClick()">{{ 'app.global.yes' | translate
            }}</button>
    </div>
</ng-template>

<!-- save dialog -->
<ng-template #largeDifferenceTemplate>
    <div class="modal-body text-center">
        <p>{{ 'app.feature_edit.large_diff_dialog_text' | translate : {max: maxGeometryDifference} }}</p>
        <button type="button" class="btn btn-primary" (click)="saveNoClick()">{{ 'app.global.ok' | translate
            }}</button>
    </div>
</ng-template>