<form (ngSubmit)="saveClick()" #featureForm="ngForm">

    <!-- buttons -->
    <div class="d-flex felx-row mb-2">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-default ml-2" (click)="cancelClick()">Cancel</button>
    </div>

    <!-- tab nav -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#general" role="tab" data-toggle="tab">Allgemein</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#grundbuch" role="tab" data-toggle="tab">Grundbuch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#nachfuerung" role="tab" data-toggle="tab">Nachfuerung</a>
        </li>
    </ul>

    <!-- tab panes -->
    <div class="tab-content">

        <!--general attributes -->
        <div role="tabpanel" class="tab-pane fade in active show py-2" id="general">
            <div *ngFor="let attribute of feature?.attributes | keyvalue let idx=index">
                <app-attribute-edit [attributes]="feature.attributes" [name]="attribute.key"
                    [displayName]="attribute.key">
                </app-attribute-edit>
            </div>        
        </div>

        <div role="tabpanel" class="tab-pane fade py-2" id="grundbuch">grundbuch</div>
        <div role="tabpanel" class="tab-pane fade py-2" id="nachfuerung">nachfuerung</div>
    </div>
</form>