<form #featureForm="ngForm" class="feature-edit container" (ngSubmit)="featureForm.valid">

    <div [ngSwitch]="feature?.layer.id">
        <app-lfp-edit *ngSwitchCase="'LFP___GGGGG'" [feature]="feature"></app-lfp-edit>


        <!-- <input type="text" class="form-control" name="test" required ngModel
        #input="ngModel">
    {{ input?.invalid }}
    <button (click)="debugg(input)">debug</button>
    <div *ngIf="input.invalid" class="alert alert-danger">
        <div *ngIf="input.invalid">Name is required.</div>
    </div> -->
        <div *ngSwitchDefault>
            <!-- tab nav -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#general_tab" role="tab" data-toggle="tab">Allgemein</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#grundbuch_tab" role="tab" data-toggle="tab">Grundbuch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#nachfuehrung_tab" role="tab" data-toggle="tab">Nachfuehrung</a>
                </li>
            </ul>

            <!-- tab panes -->
            <div class="tab-content">

                <!--general attributes -->
                <div role="tabpanel" class="tab-pane fade in active show py-2" id="general_tab">
                    <div *ngFor="let attribute of feature?.attributes | keyvalue let idx=index">
                        <app-attribute-edit [feature]="feature" [name]="attribute.key" [displayName]="attribute.key">
                        </app-attribute-edit>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade py-2" id="grundbuch_tab">
                    <!-- add grundbuch buttons -->
                    <div class="d-flex felx-row mb-2">
                        <button type="button" class="btn btn-primary"
                            (click)="addRelatedFeatureClick('grundbuch')">add</button>
                    </div>
                    <div *ngFor="let relatedFeature of getRelatedFeatures(feature?.relatedFeatures.grundbuch)">
                        <div *ngIf="relatedFeature.state !== 'deleted'">
                            <div>---------{{ relatedFeature.attributes.OBJECTID }}--------------</div>
                            <div *ngFor="let attribute of relatedFeature.attributes | keyvalue let idx=index">
                                <app-attribute-edit [feature]="relatedFeature" [name]="attribute.key"
                                    [displayName]="attribute.key">
                                </app-attribute-edit>
                            </div>
                            <div class="d-flex felx-row mb-2">
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteRelatedFeatureClick(relatedFeature)">delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade py-2" id="nachfuehrung_tab">
                    <!-- add nachführung buttons -->
                    <div class="d-flex felx-row mb-2">
                        <button type="button" class="btn btn-primary"
                            (click)="addRelatedFeatureClick('nachfuehrung')">add</button>
                    </div>
                    <div *ngFor="let relatedFeature of getRelatedFeatures(feature?.relatedFeatures.nachfuehrung)">
                        <div *ngIf="relatedFeature.state !== 'deleted'">
                            <div>---------{{ relatedFeature.attributes.OBJECTID }}--------------</div>
                            <div *ngFor="let attribute of relatedFeature.attributes | keyvalue let idx=index">
                                <app-attribute-edit [feature]="relatedFeature" [name]="attribute.key"
                                    [displayName]="attribute.key">
                                </app-attribute-edit>
                            </div>
                            <div class="d-flex felx-row mb-2">
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteRelatedFeatureClick(relatedFeature)">delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>