<!-- header-->
<div class="row">
    <div class="col-12 tree-header plus-minus-header" data-toggle="collapse" [attr.data-target]="'#' + componentId">
        {{ title | translate }}
    </div>
</div>

<!-- body-->
<div class="row plus-minus-body" [id]="componentId">
    <div class="col-12" *ngFor="let feature of features">

        <!-- feature header-->
        <div class="row">
            <div class="col-12 plus-minus-header" data-toggle="collapse"
                [attr.data-target]="'#' + getId('oid',feature)">
                {{ getFeatureName(feature) }}
            </div>
        </div>

        <!-- related feature body -->
        <div class="row plus-minus-body" [id]="getId('oid',feature)">
            <div class="col-12">
                <app-feature-tree [feature]="feature">
                </app-feature-tree>
            </div>
        </div>
    </div>
</div>