<div *ngIf="!readonly" [formGroup]="formGroup" class="error-text-container">

    <!-- value -->
    <div [ngSwitch]="type">

        <!-- tags value -->
        <div *ngSwitchCase="'tags'">
            <tag-input class="float-left" [(ngModel)]='tags' [placeholder]="''" formControlName="valueControl"
                theme='bootstrap'>
            </tag-input>
            <button class="btn btn-primary float-left" (click)="showAddTagDialogClick(addTagTemplate)"><i
                    class='fas fa-plus'></i></button>
        </div>

        <!-- multiselect value -->
        <div *ngSwitchCase="'multiselect'">
            <ng-multiselect-dropdown formControlName="valueControl" [settings]="multiselectSettings" [data]="list"
                [(ngModel)]="multiselectItems" [placeholder]="placeholder" (onSelect)="onMultiselectChanged($event)"
                (onDeSelect)="onMultiselectChanged($event)">
            </ng-multiselect-dropdown>
        </div>

        <!-- domain value -->
        <div *ngSwitchCase="'domain'">
            <select formControlName="valueControl" [(ngModel)]="feature?.attributes[formControlName]"
                [name]="formControlName" [placeholder]="placeholder" class="form-control">
                <option *ngFor="let codedValue of codedValues" [ngValue]="codedValue.code"
                    [selected]="codedValue.code === feature?.attributes[formControlName]">
                    {{ codedValue.name }}
                </option>
            </select>
        </div>

        <!-- date value -->
        <div *ngSwitchCase="'date'">
            <input type="text" class="form-control" formControlName="valueControl" [name]="formControlName" bsDatepicker
                [(ngModel)]="date" (change)="onDateChanged($event)" (bsValueChange)="onDateChanged($event)"
                [bsConfig]="{ adaptivePosition: true }">
        </div>

        <!-- number value -->
        <div *ngSwitchCase="'number'">
            <input type="number" class="form-control text-right" formControlName="valueControl" [name]="formControlName"
                [placeholder]="placeholder" [(ngModel)]="feature?.attributes[formControlName]">
        </div>

        <!-- textarea value -->
        <div *ngSwitchCase="'textarea'">
            <textarea class="form-control" formControlName="valueControl" rows="3" [name]="formControlName"
                [placeholder]="placeholder" [(ngModel)]="feature?.attributes[formControlName]"></textarea>
        </div>

        <!-- default value -->
        <div *ngSwitchDefault>
            <input type="text" class="form-control" formControlName="valueControl" [name]="formControlName"
                [placeholder]="placeholder" [(ngModel)]="feature?.attributes[formControlName]">
        </div>
    </div>

    <!-- validation -->
    <div class="error-text" *ngIf="formGroup.controls.valueControl.errors?.required" style="width: 130px;">
        Value is required.
    </div>
    <div class="error-text" *ngIf="formGroup.controls.valueControl.errors?.maxlength" style="width: 325px;">
        Value cannot contain more than {{ field?.length }} characters.
    </div>
</div>

<!-- readonly -->
<app-attribute-value-view *ngIf="readonly" [feature]="feature" [name]="formControlName" [type]="type">
</app-attribute-value-view>

<!-- delete dialog -->
<ng-template #addTagTemplate>
    <div class="modal-body text-center container">
        <div class="row form-group">
            <div class="col-3 form-group">
                <input type="number" class="form-control" [(ngModel)]="addTagNumber">
            </div>
            <div class="col-9 form-group">
                <select [(ngModel)]="addTagText" class="form-control">
                    <option *ngFor="let item of list" [ngValue]="item">
                        {{ item }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-2">
                <button type="button" class="btn btn-default" (click)="cancelTagClick()">{{ 'app.global.cancel' |
                    translate
                    }}</button>
                <button type="button" class="btn btn-danger ml-2" (click)="addTagClick()">{{ 'app.global.add' |
                    translate }}</button>
            </div>
        </div>
    </div>
</ng-template>