<div #versionManager class="version-manager fida-widget">

    <!-- versions table -->
    <div [hidden]="isReconciling">

        <!-- header -->
        <div class="fida-widget-header">
            <label>{{ 'app.version_manager.title' | translate }}</label>
            <button class="btn esri-icon-close float-right" (click)="closeClick()"></button>
        </div>

        <!-- body -->
        <div class="fida-widget-body">
            <table class="table table-sm table-dark">
                <thead>
                    <th>{{ 'app.version.name' | translate }}</th>
                    <th>{{ 'app.version.description' | translate }}</th>
                    <th>{{ 'app.version.creation_date' | translate }}</th>
                    <th>{{ 'app.version.modified_date' | translate }}</th>
                    <th>{{ 'app.version.common_ancestor_date' | translate }}</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let version of versions">
                        <td>{{ getFormatedVersionName(version.versionName) }}</td>
                        <td>{{ version.description }}</td>
                        <td>{{ getDate(version.creationDate) }}</td>
                        <td>{{ getDate(version.modifiedDate) }}</td>
                        <td>{{ getDate(version.commonAncestorDate) }}</td>
                        <td style='white-space: nowrap'>
                            <div>
                                <button class="btn btn-primary" (click)="setActiveVersionClick(version)"
                                    [disabled]="isActiveVersion(version)">{{ 'app.version_manager.activate' | translate }}</button>
                                <button class="btn btn-primary" [disabled]="isReadonlyVersion(version)"
                                    (click)="showReconcilePostDialogClick(version)">{{ 'app.version_manager.reconcile' | translate }}</button>
                                <button class="btn btn-danger" [disabled]="isReadonlyVersion(version)"
                                    title="{{ 'app.global.delete' | translate }}" (click)="showDeleteDialogClick(version)">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                        fill="currentColor">
                                        <use xlink:href="assets/images/bootstrap-icons.svg#trash" />
                                    </svg>
                                </button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- footer -->
        <div class="fida-widget-footer">
            <button class="btn btn-primary float-right" (click)="showCreateDialogClick()">{{ 'app.global.create' | translate }}</button>
        </div>
    </div>

    <!-- reconsile -->
    <div [hidden]="!isReconciling">
        <app-version-reconcile-dialog (reconcileFinished)="reconcileFinished($event)"></app-version-reconcile-dialog>
    </div>
</div>