<div class="container" [formGroup]="formGroup" [class.readonly]="readonly">

    <!--Punktnummer / Punktart-->
    <div class="row mt-5">
        <div class="col-2 attribute-label">{{'row.fida_lsn.nummer' | translate}}</div>
        <div class="col-2">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="NUMMER"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
        <div class="col-3"></div>
        <div class="col-2 attribute-label">{{'row.fida_lsn.objektart' | translate}}</div>
        <div class="col-2">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="OBJEKTART"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
        <div class="col-1"></div>
    </div>

    <!--Name / Ordnung -->
    <div class="row mt-1">
        <div class="col-2 attribute-label">{{'row.fida_lsn.name' | translate}}</div>
        <div class="col-4">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="NAME"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
        <div class="col-1"></div>
        <div class="col-2 attribute-label">{{'row.fida_lsn.ordnung' | translate}}</div>
        <div class="col-3">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="ORDNUNG"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
    </div>

    <!--LV95E / Status -->
    <div class="row mt-3">
        <div class="col-2 attribute-label">{{'row.fida_lsn.lv95e' | translate}}</div>
        <div class="col-3">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="LV95E"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
        <div class="col-2"></div>
        <div class="col-2 attribute-label">{{'row.fida_lsn.punkt_status' | translate}}</div>
        <div class="col-3">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="PUNKT_STATUS"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
    </div>

    <!--LV95N / Punkt gültig -->
    <div class="row mt-1">
        <div class="col-2 attribute-label">{{'row.fida_lsn.lv95n' | translate}}</div>
        <div class="col-3">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="LV95N"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
        <div class="col-2"></div>
        <div class="col-2 attribute-label">{{'row.fida_lsn.punkt_gueltig' | translate}}</div>
        <div class="col-3">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="PUNKT_GUELTIG"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
    </div>

    <!--LN02 / Vertical Offset -->
    <div class="row mt-1">
        <div class="col-3 attribute-label">{{'row.fida_lsn.ln02' | translate}}</div>
        <div class="col-2">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="LN02"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
        <div class="col-2"></div>
        <div class="col-3 attribute-label">{{'row.fida_lsn.vertikal_offset' | translate}}</div>
        <div class="col-2">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="VERTIKAL_OFFSET"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
    </div>

    <!--Schwerewert / Gradient gemessen -->
    <div class="row mt-3">
        <div class="col-2 attribute-label">{{'row.fida_lsn.schwerewert' | translate}}</div>
        <div class="col-3">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="SCHWEREWERT"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
        <div class="col-2"></div>
        <div class="col-3 attribute-label">{{'row.fida_lsn.gradient_gemessen' | translate}}</div>
        <div class="col-2">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="GRADIENT_GEMESSEN">
            </app-attribute-value-edit>
        </div>
    </div>

    <!--Standardabweichungen -->
    <div class="row mt-1">
        <div class="col-3 attribute-label">{{'row.fida_lsn.standardabweichung' | translate}}</div>
        <div class="col-2">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="STANDARDABWEICHUNG">
            </app-attribute-value-edit>
        </div>
        <div class="col-2"></div>
        <div class="col-3 attribute-label">{{'row.fida_lsn.stdabw_gradgem' | translate}}</div>
        <div class="col-2">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="STDABW_GRADGEM">
            </app-attribute-value-edit>
        </div>
    </div>

    <!--Messdatum / Gradient interpoliert -->
    <div class="row mt-1">
        <div class="col-2 attribute-label">{{'row.fida_lsn.messdatum' | translate}}</div>
        <div class="col-3">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="MESSDATUM"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
        <div class="col-2"></div>
        <div class="col-3 attribute-label">{{'row.fida_lsn.gradient_interpoliert' | translate}}</div>
        <div class="col-2">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="GRADIENT_INTERPOLIERT"
                [isRequired]="true">
            </app-attribute-value-edit>
        </div>
    </div>

    <!--Bemerkungen -->
    <div class="row mt-3">
        <div class="col-2 attribute-label">{{'row.fida_lsn.bemerkungen_standort' | translate}}</div>
        <div class="col-10">
            <app-attribute-value-edit [readonly]="readonly" [feature]="feature" formControlName="BEMERKUNGEN_STANDORT">
            </app-attribute-value-edit>
        </div>
    </div>

</div>