<!-- general feature body -->
<div class="row">
    <div class="col-12 plus-minus-header collapsed" data-toggle="collapse"
        [attr.data-target]="'#' + getId('general', feature)">
        {{ 'app.relationship.general' | translate }}</div>
</div>

<!-- general feature body -->
<div class="row collapse plus-minus-body" [id]="getId('general', feature)">
    <div class="col-12">
        <div *ngFor="let attribute of feature.attributes | keyvalue">
            <div>{{ attribute.key }} : {{ attribute.value }} </div>
        </div>
    </div>
</div>

<div *ngFor="let relatedFeatures of feature?.relatedFeatures | keyvalue"
    [hidden]="hideRelatedFeatures(relatedFeatures.value)">
    <!-- related feature list header-->
    <div class="row">
        <div class="col-12 plus-minus-header collapsed" data-toggle="collapse"
            [attr.data-target]="'#' + getId(relatedFeatures.key, feature)">
            {{ 'app.relationship.' + relatedFeatures.key | translate }} ({{ relatedFeatures.value.length }})</div>
    </div>

    <!-- related feature list body -->
    <div class="row collapse plus-minus-body" [id]=" getId(relatedFeatures.key, feature)">
        <div class="col-12">
            <div *ngFor="let relatedFeature of relatedFeatures.value">

                <!-- related feature header-->
                <div class="row">
                    <div class="col-12 plus-minus-header collapsed" data-toggle="collapse"
                        [attr.data-target]="'#' + getId('rid',relatedFeature)" [class]="getDiffClass(relatedFeature)">
                        {{ getRelatedFeatureHeader(relatedFeature, relatedFeatures.key) }}</div>
                </div>

                <!-- related feature body -->
                <div class="row collapse plus-minus-body" [id]="getId('rid',relatedFeature)">
                    <div class="col-12">
                        <div *ngFor="let attribute of relatedFeature.attributes | keyvalue">
                            <div>{{ attribute.key }} : {{ attribute.value }} </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>