<!-- navigation -->
<ul class="nav nav-pills nav-fill" role="tablist">
    <li class="nav-item" (click)="tabClick('lfp_general_tab')">
        <a class="nav-link" [class.active]="isActiveTab('lfp_general_tab')" href="#lfp_general_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.general' | translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('lfp_anhang_tab')">
        <a class="nav-link" [class.active]="isActiveTab('lfp_anhang_tab')" href="#lfp_anhang_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.anhang' | translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('lfp_nachfuehrung_tab')">
        <a class="nav-link" [class.active]="isActiveTab('lfp_nachfuehrung_tab')" href="#lfp_nachfuehrung_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.nachfuehrung' | translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('lfp_grundbuch_tab')">
        <a class="nav-link" [class.active]="isActiveTab('lfp_grundbuch_tab')" href="#lfp_grundbuch_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.grundbuch' | translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('lfp_rueckversicherung_tab')">
        <a class="nav-link" [class.active]="isActiveTab('lfp_rueckversicherung_tab')" href="#lfp_rueckversicherung_tab"
            role="tab" data-toggle="tab">{{ 'app.relationship.rueckversicherung' | translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('lfp_kontakt_tab')">
        <a class="nav-link" [class.active]="isActiveTab('lfp_kontakt_tab')" href="#lfp_kontakt_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.kontakt' | translate }}</a>
    </li>
</ul>

<!-- navigation panes -->
<div class="tab-content container" [formGroup]="formGroup">

    <!--general attributes -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_general_tab" [class.readonly]="readonly"
        [class.active]="isActiveTab('lfp_general_tab')" [class.show]="isActiveTab('lfp_general_tab')">

        <!--Punktart / Nr-->
        <div class="row mt-4">
            <div class="col-2 attribute-label">{{ 'row.fida_lfp.objektart' | translate }}</div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="OBJEKTART" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-4">
                <app-attribute-value-edit [feature]="feature" formControlName="LFPNR" [isRequired]="true" [readonly]="editMode" [isUnique]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-2 attribute-label">{{ 'app.lfp.eurefNeotekNr' | translate }}</div>
            <div class="col-1 pr-0 mr-m1">
                <app-attribute-value-edit [feature]="feature" formControlName="EUREFNUMMER">
                </app-attribute-value-edit>
            </div>
            <div class="col-1 pl-0">
                <app-attribute-value-edit [feature]="feature" formControlName="NEOTEKNUMMER">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Staties -->
        <div class="row mt-2">
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="PUNKT_STATUS" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="REALISIERUNG_STATUS" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Punnktname / LFPOrdnung -->
        <div class="row mt-2">
            <div class="col-2">
            </div>
            <div class="col-2 attribute-label">{{ 'row.fida_lfp.punktname' | translate }}</div>
            <div class="col-4">
                <app-attribute-value-edit [feature]="feature" formControlName="PUNKTNAME" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-2 attribute-label">{{ 'row.fida_lfp.lfpordnung' | translate }}</div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="LFPORDNUNG"></app-attribute-value-edit>
            </div>
        </div>

        <!--Koordinaten -->
        <div class="row mt-2">
            <div class="col-4">
                <div class="d-flex felx-row-reverse">
                    <span class="attribute-label mr-2">E</span>
                    <app-attribute-value-edit class="flex-fill" [feature]="feature" formControlName="LV95E"
                        [isRequired]="true">
                    </app-attribute-value-edit>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex felx-row-reverse">
                    <span class="attribute-label mr-2">N</span>
                    <app-attribute-value-edit class="flex-fill" [feature]="feature" formControlName="LV95N"
                        [isRequired]="true">
                    </app-attribute-value-edit>
                </div>
            </div>
            <div class="col-2 attribute-label">{{ 'row.fida_lfp.ln02' | translate }}</div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="LN02" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
        </div>

        <div class="row mt-m1">
            <div class="col-2 attribute-label">{{ 'app.lfp.genLageHoehe' | translate }}</div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="GENLAGELV95" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-2 pl-4">
                <app-attribute-value-edit [feature]="feature" formControlName="GENHOEHELN02" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-2">
            </div>
            <div class="col-1 attribute-label">{{ 'row.fida_lfp.lhn95' | translate }}</div>
            <div class="col-3">
                <app-attribute-value-edit [feature]="feature" formControlName="LHN95"></app-attribute-value-edit>
            </div>
        </div>

        <div class="row mt-m1">
            <div class="col-2 attribute-label">{{ 'app.lfp.zuvLageHoehe' | translate }}</div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="ZUVLAGELV95" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-2  pl-4">
                <app-attribute-value-edit [feature]="feature" formControlName="ZUVHOEHELN02" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-2">
            </div>
            <div class="col-1 attribute-label">{{ 'app.lfp.ellipsoidh' | translate }}</div>
            <div class="col-3">
                <app-attribute-value-edit [feature]="feature" formControlName="ELLIPSOIDH"></app-attribute-value-edit>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2 attribute-label">{{ 'row.fida_lfp.lk25' | translate }}</div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="LK25" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-4">
            </div>
            <div class="col-1 attribute-label">{{ 'row.fida_lfp.deltahoehe_oberkante' | translate }}</div>
            <div class="col-3">
                <app-attribute-value-edit [feature]="feature" formControlName="DELTAHOEHE_OBERKANTE">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Kennzeichnung Text -->
        <div class="row mt-5">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 attribute-label">{{ 'row.fida_lfp.kennzeichnung' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="KENNZEICHNUNG" [isRequired]="true">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">{{ 'row.fida_lfp.schutzart' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="SCHUTZART" [isRequired]="true">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">{{ 'row.fida_lfp.stabilitaet' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="STABILITAET" [isRequired]="true">
                        </app-attribute-value-edit>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="KENNZEICHNUNGTEXT" type="textarea"
                    placeholder="row.fida_lfp.kennzeichnungtext"></app-attribute-value-edit>
            </div>
        </div>

        <!--Rückversicherung Bemerkung -->
        <div class="row mt-2">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 attribute-label">{{ 'row.fida_lfp.anzahlringschrauben' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="ANZAHLRINGSCHRAUBEN">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">{{ 'row.fida_lfp.flanschen' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="FLANSCHEN">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label pr-0">{{ 'row.fida_lfp.anzahlansclagpkt' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="ANZAHLANSCLAGPKT">
                        </app-attribute-value-edit>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="RUECKVERSICHRG_BEMERK" type="tags"
                    [list]="materialisierungList" placeholder="row.fida_lfp.rueckversichrg_bemerk" [readonly]="readonly">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Bemerkung -->
        <div class="row mt-2">
            <div class="col-4">
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="BEMERKUNG" type="textarea"
                    placeholder="row.fida_lfp.bemerkung">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Identität -->
        <div class="row mt-2">
            <div class="col-4">
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="IDENTITAET" type="textarea"
                    placeholder="row.fida_lfp.identitaet">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Zugang -->
        <div class="row mt-2">
            <div class="col-4">
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="ZUGANG" type="textarea"
                    placeholder="row.fida_lfp.zugang">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Punktbeschreibung -->
        <div class="row mt-2">
            <div class="col-4">
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="PUNKTBESCHREIBUNG" type="textarea"
                    placeholder="row.fida_lfp.punktbeschreibung"></app-attribute-value-edit>
            </div>
        </div>

        <!--Erläuterung -->
        <div class="row mt-2">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 attribute-label">{{ 'row.fida_lfp.begehungszyklus' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="BEGEHUNGSZYKLUS">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">{{ 'row.fida_lfp.absturzgefahr' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="ABSTURZGEFAHR" [isRequired]="true">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">{{ 'row.fida_lfp.begehbar' | translate }}</div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="BEGEHBAR" [isRequired]="true">
                        </app-attribute-value-edit>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="ABSTURZGEFAHR_ERLAEUTERUNGEN"
                    type="textarea" placeholder="row.fida_lfp.absturzgefahr_erlaeuterungen"></app-attribute-value-edit>
            </div>
        </div>

        <!--TSP-->
        <div class="row mt-2">
            <div class="col-2 attribute-label">{{ 'row.fida_lfp.tsp' | translate }}</div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="TSP"></app-attribute-value-edit>
            </div>
            <div class="col-4 attribute-label">{{ 'app.lfp.gnssSichtbarkeitEmpfang' | translate }}</div>
            <div class="col-2 pr-0 mr-m1">
                <app-attribute-value-edit [feature]="feature" formControlName="GNSSSICHTBARKEIT" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
            <div class="col-2 pl-0">
                <app-attribute-value-edit [feature]="feature" formControlName="GSMEMPFANG" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Herkunft-->
        <div class="row mt-4">
            <div class="col-2 attribute-label">{{ 'row.fida_lfp.herkunft' | translate }}</div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="HERKUNFT" [isRequired]="true">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Referenzepoche-->
        <div class="row mt-2">
            <div class="col-4 attribute-label">{{ 'row.fida_lfp.referenzepoche' | translate }}</div>
            <div class="col-3">
                <app-attribute-value-edit [feature]="feature" formControlName="REFERENZEPOCHE">
                </app-attribute-value-edit>
            </div>
        </div>
        <div class="row mb-4  mt-m1">
            <div class="col-4 attribute-label">{{ 'app.lfp.geschwindigkeit' | translate }}</div>
            <div class="col-1">
                <app-attribute-value-edit [feature]="feature" formControlName="GESCHWINDIGKEIT_E">
                </app-attribute-value-edit>
            </div>
            <div class="col-1">
                <app-attribute-value-edit [feature]="feature" formControlName="GESCHWINDIGKEIT_N">
                </app-attribute-value-edit>
            </div>
            <div class="col-1">
                <app-attribute-value-edit [feature]="feature" formControlName="GESCHWINDIGKEIT_UP">
                </app-attribute-value-edit>
            </div>
        </div>

    </div>

    <!--anhang features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_anhang_tab" [class.active]="isActiveTab('lfp_anhang_tab')"
        [class.show]="isActiveTab('lfp_anhang_tab')">
        <!--Bild-Beschreibung oben -->
        <div class="row">
            <div class="col-3 attribute-label">{{ 'row.fida_hfp.bild_b_besch_oben' | translate }}</div>
            <div class="col-9">
                <app-attribute-value-edit [feature]="feature" formControlName="BILD_B_BESCH_OBEN" type="textarea">
                </app-attribute-value-edit>
            </div>
        </div>
        <!--Bild-Beschreibung unten -->
        <div class="row mt-2 mb-4">
            <div class="col-3 attribute-label">{{ 'row.fida_hfp.bild_b_besch_unten' | translate }}</div>
            <div class="col-9">
                <app-attribute-value-edit [feature]="feature" formControlName="BILD_B_BESCH_UNTEN" type="textarea">
                </app-attribute-value-edit>
            </div>
        </div>
        <!--loop -->
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addAnhangClick()">{{ 'app.global.create' |
                    translate }}</button>
            </div>
        </div>
        <div *ngFor="let feature of getAnhangFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-anhang-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-anhang-edit>
            </div>
        </div>
    </div>

    <!--nachführung features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_nachfuehrung_tab"
        [class.active]="isActiveTab('lfp_nachfuehrung_tab')" [class.show]="isActiveTab('lfp_nachfuehrung_tab')">
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addNachfuehrungClick()">{{ 'app.global.create' |
                    translate }}</button>
            </div>
        </div>
        <div *ngFor="let relfeature of getNachfuehrungFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-nachfuehrung-edit [feature]="relfeature" [formGroup]="formGroup" [readonly]="readonly"
                    [language]="feature.language">
                </app-nachfuehrung-edit>
            </div>
        </div>
    </div>

    <!--grundbuch features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_grundbuch_tab" [class.spinner]="redefining"
        [class.active]="isActiveTab('lfp_grundbuch_tab')" [class.show]="isActiveTab('lfp_grundbuch_tab')">
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary mr-2" (click)="addGrundbuchClick()">{{ 'app.global.create'
                    |
                    translate }}</button>
                <button type="button" class="btn btn-danger" (click)="redefineGrundbuchDataClick()">{{
                    'app.feature_edit.redefine' |
                    translate }}</button>
            </div>
        </div>
        <div *ngFor="let feature of getGrundbuchFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-grundbuch-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-grundbuch-edit>
            </div>
        </div>
    </div>

    <!--rückversicherung features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_rueckversicherung_tab"
        [class.active]="isActiveTab('lfp_rueckversicherung_tab')"
        [class.show]="isActiveTab('lfp_rueckversicherung_tab')">
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addRueckversicherungClick()">{{
                    'app.global.create' |
                    translate }}</button>
            </div>
        </div>
        <div *ngFor="let feature of getRueckversicherungFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-rueckversicherung-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-rueckversicherung-edit>
            </div>
        </div>
    </div>

    <!--kontakt features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_kontakt_tab" [class.active]="isActiveTab('lfp_kontakt_tab')"
        [class.show]="isActiveTab('lfp_kontakt_tab')">
        <app-kontakt-manager [feature]="feature" [formGroup]="formGroup" [readonly]="readonly"></app-kontakt-manager>
    </div>
</div>