<!-- navigation -->
<ul class="nav nav-pills nav-fill" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#lfp_general_tab" role="tab" data-toggle="tab">Allgemein</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#lfp_nachfuehrung_tab" role="tab" data-toggle="tab">Nachfuehrung</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#lfp_grundbuch_tab" role="tab" data-toggle="tab">Grundbuch</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#lfp_rueckversicherung_tab" role="tab" data-toggle="tab">Rückversicherung</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#lfp_kontakt_tab" role="tab" data-toggle="tab">Kontakt</a>
    </li>
</ul>

<!-- navigation panes -->
<div class="tab-content container" [formGroup]="formGroup">

    <!--general attributes -->
    <div role="tabpanel" class="tab-pane fade in active show py-2" id="lfp_general_tab">

        <!--Punktart / Nr-->
        <div class="row mt-4">
            <div class="col-2 attribute-label">
                LFP1 Punktart
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="OBJEKTART"></app-attribute-value-edit>
            </div>
            <div class="col-4">
                <app-attribute-value-edit [feature]="feature" formControlName="LFPNR"></app-attribute-value-edit>
            </div>
            <div class="col-2 attribute-label">
                Euref/NeotekNr
            </div>
            <div class="col-1 pr-0 mr-m1">
                <app-attribute-value-edit [feature]="feature" formControlName="EUREFNUMMER"></app-attribute-value-edit>
            </div>
            <div class="col-1 pl-0">
                <app-attribute-value-edit [feature]="feature" formControlName="NEOTEKNUMMER"></app-attribute-value-edit>
            </div>
        </div>

        <!--Staties -->
        <div class="row mt-2">
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="PUNKT_STATUS"></app-attribute-value-edit>
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="REALISIERUNG_STATUS">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Punnktname / LFPOrdnung -->
        <div class="row mt-2">
            <div class="col-2">
            </div>
            <div class="col-2 attribute-label">
                Punktname
            </div>
            <div class="col-4">
                <app-attribute-value-edit [feature]="feature" formControlName="PUNKTNAME"></app-attribute-value-edit>
            </div>
            <div class="col-2 attribute-label">
                LFPOrdnung
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="LFPORDNUNG"></app-attribute-value-edit>
            </div>
        </div>

        <!--Koordinaten -->
        <div class="row mt-2">
            <div class="col-4">
                <div class="d-flex felx-row-reverse">
                    <span class="attribute-label mr-2">E</span>
                    <app-attribute-value-edit class="flex-fill" [feature]="feature" formControlName="LV95E">
                    </app-attribute-value-edit>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex felx-row-reverse">
                    <span class="attribute-label mr-2">N</span>
                    <app-attribute-value-edit class="flex-fill" [feature]="feature" formControlName="LV95N">
                    </app-attribute-value-edit>
                </div>
            </div>
            <div class="col-2 attribute-label">
                LN02
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="LN02"></app-attribute-value-edit>
            </div>
        </div>

        <div class="row mt-m1">
            <div class="col-2 attribute-label">
                GenLage/Höhe
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="GENLAGELV95"></app-attribute-value-edit>
            </div>
            <div class="col-2 pl-4">
                <app-attribute-value-edit [feature]="feature" formControlName="GENHOEHELN02"></app-attribute-value-edit>
            </div>
            <div class="col-2">
            </div>
            <div class="col-1 attribute-label">
                LHN95
            </div>
            <div class="col-3">
                <app-attribute-value-edit [feature]="feature" formControlName="LHN95"></app-attribute-value-edit>
            </div>
        </div>

        <div class="row mt-m1">
            <div class="col-2 attribute-label">
                ZuvLage/Höhe
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="ZUVLAGELV95"></app-attribute-value-edit>
            </div>
            <div class="col-2  pl-4">
                <app-attribute-value-edit [feature]="feature" formControlName="ZUVHOEHELN02"></app-attribute-value-edit>
            </div>
            <div class="col-2">
            </div>
            <div class="col-1 attribute-label">
                Ellips.
            </div>
            <div class="col-3">
                <app-attribute-value-edit [feature]="feature" formControlName="ELLIPSOIDH"></app-attribute-value-edit>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-8">
            </div>
            <div class="col-1 attribute-label">
                DeltaOk
            </div>
            <div class="col-3">
                <app-attribute-value-edit [feature]="feature" formControlName="DELTAHOEHE_OBERKANTE">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Kennzeichnung Text -->
        <div class="row mt-5">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 attribute-label">
                        Kennzeichnung
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="KENNZEICHNUNG">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">
                        Schutzart
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="SCHUTZART">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">
                        Stabilität
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="STABILITAET">
                        </app-attribute-value-edit>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="KENNZEICHNUNGTEXT" type="textarea"
                    placeholder="Kennzeichnung Text"></app-attribute-value-edit>
            </div>
        </div>

        <!--Rückversicherung Bemerkung -->
        <div class="row mt-2">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 attribute-label">
                        Anzahlschrauben
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="ANZAHLRINGSCHRAUBEN">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">
                        Flanschen
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="FLANSCHEN">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label pr-0">
                        Anz. AnschlPkt
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="ANZAHLANSCLAGPKT">
                        </app-attribute-value-edit>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="RUECKVERSICHRG_BEMERK" type="textarea"
                    placeholder="Rückversicherung Bemerkung"></app-attribute-value-edit>
            </div>
        </div>

        <!--Bemerkung -->
        <div class="row mt-2">
            <div class="col-4">
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="BEMERKUNG" type="textarea"
                    placeholder="Bemerkung">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Identität -->
        <div class="row mt-2">
            <div class="col-4">
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="IDENTITAET" type="textarea"
                    placeholder="Identität">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Zugang -->
        <div class="row mt-2">
            <div class="col-4">
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="ZUGANG" type="textarea"
                    placeholder="Zugang">
                </app-attribute-value-edit>
            </div>
        </div>

        <!--Pubktbeschreibung -->
        <div class="row mt-2">
            <div class="col-4">
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="PUNKTBESCHREIBUNG" type="textarea"
                    placeholder="Pubktbeschreibung"></app-attribute-value-edit>
            </div>
        </div>

        <!--Erläuterung -->
        <div class="row mt-2">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 attribute-label">
                        Begehungszyklus
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="BEGEHUNGSZYKLUS">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">
                        Absturzgefahr
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="ABSTURZGEFAHR">
                        </app-attribute-value-edit>
                    </div>
                </div>
                <div class="row mt-m1">
                    <div class="col-6 attribute-label">
                        Begehbar
                    </div>
                    <div class="col-6">
                        <app-attribute-value-edit [feature]="feature" formControlName="BEGEHBAR">
                        </app-attribute-value-edit>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <app-attribute-value-edit [feature]="feature" formControlName="ABSTURZGEFAHR_ERLAEUTERUNGEN"
                    type="textarea" placeholder="Erläuterung"></app-attribute-value-edit>
            </div>
        </div>

        <!--TSP-->
        <div class="row mt-2">
            <div class="col-2 attribute-label">
                TSP
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="TSP"></app-attribute-value-edit>
            </div>
            <div class="col-4 attribute-label">
                GNS Sichtbar/Empfang
            </div>
            <div class="col-2 pr-0 mr-m1">
                <app-attribute-value-edit [feature]="feature" formControlName="GNSSSICHTBARKEIT">
                </app-attribute-value-edit>
            </div>
            <div class="col-2 pl-0">
                <app-attribute-value-edit [feature]="feature" formControlName="GSMEMPFANG"></app-attribute-value-edit>
            </div>
        </div>

        <!--Herkunft-->
        <div class="row mt-4">
            <div class="col-2 attribute-label">
                Herkunft
            </div>
            <div class="col-2">
                <app-attribute-value-edit [feature]="feature" formControlName="HERKUNFT"></app-attribute-value-edit>
            </div>
        </div>

        <!--Referenzepoche-->
        <div class="row mt-2">
            <div class="col-4 attribute-label">
                Referenzepoche
            </div>
            <div class="col-3">
                <app-attribute-value-edit [feature]="feature" formControlName="REFERENZEPOCHE">
                </app-attribute-value-edit>
            </div>
        </div>
        <div class="row mb-4  mt-m1">
            <div class="col-4 attribute-label">
                Geschwindigkeit E/N/UP
            </div>
            <div class="col-1">
                <app-attribute-value-edit [feature]="feature" formControlName="GESCHWINDIGKEIT_E">
                </app-attribute-value-edit>
            </div>
            <div class="col-1">
                <app-attribute-value-edit [feature]="feature" formControlName="GESCHWINDIGKEIT_N">
                </app-attribute-value-edit>
            </div>
            <div class="col-1">
                <app-attribute-value-edit [feature]="feature" formControlName="GESCHWINDIGKEIT_UP">
                </app-attribute-value-edit>
            </div>
        </div>

    </div>

    <!--nachführung features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_nachfuehrung_tab">
        <div class="row mb-2">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addNachfuehrungClick()">Add New
                    Nachfuehrung</button>
            </div>
        </div>
        <div *ngFor="let feature of getNachfuehrungFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-nachfuehrung-edit [feature]="feature" [formGroup]="formGroup"></app-nachfuehrung-edit>
            </div>
        </div>
    </div>

    <!--grundbuch features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_grundbuch_tab">
        <div class="row mb-2">
            <div class="col-12">
                <button type="button" class="btn btn-primary mr-2" (click)="addGrundbuchClick()">Add New
                    Grundbuch</button>
                <button type="button" class="btn btn-danger" (click)="redefineGrundbuchDataClick()" disabled>redefine</button>
            </div>
        </div>
        <div *ngFor="let feature of getGrundbuchFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-grundbuch-edit [feature]="feature" [formGroup]="formGroup"></app-grundbuch-edit>
            </div>
        </div>
    </div>

    <!--rückversicherung features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_rueckversicherung_tab">
        <div class="row mb-2">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addRueckversicherungClick()">Add New
                    Rückversicherung</button>
            </div>
        </div>
        <div *ngFor="let feature of getRueckversicherungFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-rueckversicherung-edit [feature]="feature" [formGroup]="formGroup"></app-rueckversicherung-edit>
            </div>
        </div>
    </div>

    <!--kontakt features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="lfp_kontakt_tab">
        <div class="row mb-2">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addKontaktClick()">Add New
                    Kontakt</button>
            </div>
        </div>
        <div *ngFor="let feature of getKontaktFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-kontakt-edit [feature]="feature" [formGroup]="formGroup"></app-kontakt-edit>
            </div>
        </div>
    </div>
</div>