<!-- navigation -->
<ul class="nav nav-pills nav-fill" role="tablist">
    <li class="nav-item" (click)="tabClick('hfp_general_tab')">
        <a class="nav-link" [class.active]="isActiveTab('hfp_general_tab')" href="#hfp_general_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.general_hfp' |
            translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('hfp_anhang_tab')">
        <a class="nav-link" [class.active]="isActiveTab('hfp_anhang_tab')" href="#hfp_anhang_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.anhang_hfp' | translate
            }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('hfp_nachfuehrung_tab')">
        <a class="nav-link" [class.active]="isActiveTab('hfp_nachfuehrung_tab')" href="#hfp_nachfuehrung_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.nachfuehrung_hfp'
            | translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('hfp_grundbuch_tab')">
        <a class="nav-link" [class.active]="isActiveTab('hfp_grundbuch_tab')" href="#hfp_grundbuch_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.grundbuch_hfp' |
            translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('hfp_auslandpunkt_tab')">
        <a class="nav-link" [class.active]="isActiveTab('hfp_auslandpunkt_tab')" href="#hfp_auslandpunkt_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.auslandpunkt'
            | translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('hfp_schweremessung_tab')">
        <a class="nav-link" [class.active]="isActiveTab('hfp_schweremessung_tab')" href="#hfp_schweremessung_tab"
            role="tab" data-toggle="tab">{{
            'app.relationship.schweremessung' | translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('hfp_schaeden_tab')">
        <a class="nav-link" [class.active]="isActiveTab('hfp_schaeden_tab')" href="#hfp_schaeden_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.schaeden' |
            translate }}</a>
    </li>
    <li class="nav-item" (click)="tabClick('hfp_kontakt_tab')">
        <a class="nav-link" [class.active]="isActiveTab('hfp_kontakt_tab')" href="#hfp_kontakt_tab" role="tab"
            data-toggle="tab">{{ 'app.relationship.kontakt' |
            translate }}</a>
    </li>
</ul>

<!-- navigation panes -->
<div class="tab-content container" [formGroup]="formGroup">

    <!--general attributes -->
    <div role="tabpanel" class="tab-pane fade py-2" id="hfp_general_tab" [class.readonly]="readonly"
        [class.active]="isActiveTab('hfp_general_tab')" [class.show]="isActiveTab('hfp_general_tab')">
        <app-hfp-punkt-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
        </app-hfp-punkt-edit>

    </div>

    <!--anhang features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="hfp_anhang_tab" [class.active]="isActiveTab('hfp_anhang_tab')"
        [class.show]="isActiveTab('hfp_anhang_tab')">
        <!--Bild-Beschreibung oben -->
        <div class="row">
            <div class="col-3 attribute-label">{{ 'row.fida_hfp.bild_b_besch_oben' | translate }}</div>
            <div class="col-9">
                <app-attribute-value-edit [feature]="feature" formControlName="BILD_B_BESCH_OBEN" type="textarea">
                </app-attribute-value-edit>
            </div>
        </div>
        <!--Bild-Beschreibung unten -->
        <div class="row mt-2 mb-4">
            <div class="col-3 attribute-label">{{ 'row.fida_hfp.bild_b_besch_unten' | translate }}</div>
            <div class="col-9">
                <app-attribute-value-edit [feature]="feature" formControlName="BILD_B_BESCH_UNTEN" type="textarea">
                </app-attribute-value-edit>
            </div>
        </div>
        <!--loop -->
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addAnhangClick()">{{ 'app.global.create' |
                    translate }}</button>
            </div>
        </div>
        <div *ngFor="let feature of getAnhangFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-anhang-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-anhang-edit>
            </div>
        </div>
    </div>

    <!--nachführung features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="hfp_nachfuehrung_tab"
        [class.active]="isActiveTab('hfp_nachfuehrung_tab')" [class.show]="isActiveTab('hfp_nachfuehrung_tab')">
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addNachfuehrungClick()">{{ 'app.global.create' |
                    translate }}</button>
            </div>
        </div>
        <div *ngFor="let feature of getNachfuehrungFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-nachfuehrung-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-nachfuehrung-edit>
            </div>
        </div>
    </div>

    <!--grundbuch features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="hfp_grundbuch_tab" [class.spinner]="redefining"
        [class.active]="isActiveTab('hfp_auslandpunkt_tab')" [class.show]="isActiveTab('hfp_auslandpunkt_tab')">
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary mr-2" (click)="addGrundbuchClick()">{{ 'app.global.create'
                    | translate }}</button>
                <button type="button" class="btn btn-danger" (click)="redefineGrundbuchDataClick()">redefine</button>
            </div>
        </div>
        <div *ngFor="let feature of getGrundbuchFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-grundbuch-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-grundbuch-edit>
            </div>
        </div>
    </div>

    <!--auslandpunkt features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="hfp_auslandpunkt_tab"
        [class.active]="isActiveTab('hfp_auslandpunkt_tab')" [class.show]="isActiveTab('hfp_auslandpunkt_tab')">
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addAuslandpunktClick()">{{ 'app.global.create' |
                    translate }}</button>
            </div>
        </div>
        <div *ngFor="let feature of getAuslandpunktFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-auslandpunkt-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-auslandpunkt-edit>
            </div>
        </div>
    </div>

    <!--schweremessung features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="hfp_schweremessung_tab"
        [class.active]="isActiveTab('hfp_schweremessung_tab')" [class.show]="isActiveTab('hfp_schweremessung_tab')">
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addSchweremessungClick()">{{ 'app.global.create'
                    | translate }}</button>
            </div>
        </div>
        <div *ngFor="let feature of getSchweremessungFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-schweremessung-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-schweremessung-edit>
            </div>
        </div>
    </div>

    <!--schaeden features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="hfp_schaeden_tab"
        [class.active]="isActiveTab('hfp_schaeden_tab')" [class.show]="isActiveTab('hfp_schaeden_tab')">
        <div class="row mb-2" [hidden]="readonly">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="addSchaedenClick()">{{ 'app.global.create' |
                    translate }}</button>
            </div>
        </div>
        <div *ngFor="let feature of getSchaedenFeatures()">
            <div *ngIf="feature.state !== 'deleted'">
                <app-schaeden-edit [feature]="feature" [formGroup]="formGroup" [readonly]="readonly">
                </app-schaeden-edit>
            </div>
        </div>
    </div>

    <!--kontakt features -->
    <div role="tabpanel" class="tab-pane fade py-2" id="hfp_kontakt_tab" [class.active]="isActiveTab('hfp_kontakt_tab')"
        [class.show]="isActiveTab('hfp_kontakt_tab')">
        <app-kontakt-manager [feature]="feature" [formGroup]="formGroup" [readonly]="readonly"></app-kontakt-manager>
    </div>
</div>